body {
    background-color: #53a8dd; 
}
.container {
    text-align: center;
}

#timer {
    font-size: 48px;
    color: #0c0c0c; 
}
button {
    background-color: #2ecc71; 
    color: #fff; 
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}